<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Custom Console Appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="fr.paralya.bot.LogFormater" />
    </appender>

    <!-- File Appender -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/app.log</file>
        <append>true</append>
        <encoder>
            <pattern>[%d{dd/MM/yyyy HH:mm:ss}] %-5level - %msg\n</pattern>
        </encoder>
    </appender>

    <!-- Root Logger -->
    <root level="debug">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>

</configuration>